body {
  background-image: url(/image/backgroundOfBoard.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.styleTitle {
  font-size: clamp(28px, 36px, 42px);
  font-weight: 600;
  text-shadow: 0 0 15px white;
}

.input-background-image {
  background-image: url(/image/backgroundOfInputs.jpg);
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
}

.input-group {
  margin: 15px auto;
  margin-left: 20%;
  border: 1px solid black;
}

.btn {
  border: 1px solid black;
  width: 100%;
  margin-top: 9px;
}


.task-card {
  display: inline-block;
  margin: 30px 20px;
  padding: 40px 10px 0;
  border: 1px solid #ccc;
  background-image: url(/image/imageForCards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 250px;
  position: relative;
}

.deleteButton {
  border: 0;
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

textarea {
  background-color: transparent;
  resize: none;
  border: 0;
}

.task-card>input {
  background-color: transparent;
  border: 0;
}

.task-card:hover>.deleteButton {
  opacity: 1;
}

.task-card>input[type="date"]::-webkit-calendar-picker-indicator,
.task-card>input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}